.Questions {
  display: flex;
  flex-direction: column;
  align-items: center;

  .ant-tabs-nav {
    width: 101%;
  }
  .add-new-question {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 177px;
    height: 36px;
    background: #3843d0;
    border: 3px solid #212b80;
    box-sizing: border-box;
    box-shadow: 0px 2px 0px #212b80;
    border-radius: 10px;
    color: #ffffff;
  }

  .mobile-button {
    img {
      display: none;
    }
  }
  .questions-topick {
    display: flex;
    flex-direction: column;
    width: 704px;
    height: 146px;
    .questions-topick-head {
      width: 100%;
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .questions-topick-footer {
      .ant-tabs-tabpane {
        overflow-y: auto;
        height: 73.5vh;
        &::-webkit-scrollbar {
          width: 0;
        }
      }
      display: flex;
      .ant-tabs-nav {
        margin: 0;
        .ant-tabs-ink-bar {
          background: #3843d0;
        }
      }
      .ant-tabs-tab {
        margin-top: 48px;
        padding: 8px 16px;
      }
      .ant-tabs-tab-btn {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #9a9cb5;
      }
      .ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          color: #3843d0;
        }
      }
    }
  }
}
@media (max-width: 900px) and (min-width: 320px) {
  .Questions {
    width: 100%;
    padding: 0 16px;
    .questions-topick {
      width: 100%;
      .questions-topick-footer {
        .ant-tabs-tabpane {
          height: 57.5vh;
        }
      }
    }
    .add-question-button {
      position: static;
      width: 100%;
      height: 48px;
      span {
        letter-spacing: 0.14em;
      }
    }

    .mobile-button {
      width: 56px;
      height: 56px;
      background: #3843d0;
      box-shadow: 0px 2px 0px #212b80;
      border-radius: 100px;
      position: fixed;
      right: 16px;
      bottom: 130px;

      span {
        display: none;
      }
      img {
        display: block;
      }
    }

    .add-questions-head {
      .close-question {
        border: none;
        box-shadow: none;
        width: auto;

        span {
          display: none;
        }

        .question-mobile-close {
          display: block;
        }
      }
    }
  }
}
